<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.agni.rapidnative-coach-sunday</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/zsh</string>
        <string>-lc</string>
        <string>/Users/agni/Documents/rapidclaw/accountability/routines/run.sh sunday</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>12</integer>
        <key>Minute</key>
        <integer>00</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/rapidnative-coach-sunday-launchd-out.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/rapidnative-coach-sunday-launchd-err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/Users/agni/.browser-use-env/bin:/Users/agni/.local/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>/Users/agni</string>
        <key>LANG</key>
        <string>en_US.UTF-8</string>
        <key>LC_ALL</key>
        <string>en_US.UTF-8</string>
    </dict>
</dict>
</plist>
